<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550076269173-gdh9d25uqknu1dq1b9hu58r2u31j4rpk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550076269173-gdh9d25uqknu1dq1b9hu58r2u31j4rpk</string>
	<key>API_KEY</key>
	<string>AIzaSyDr8DNz6gk9zdLVz_zcJ4Vk30_SySOb37Q</string>
	<key>GCM_SENDER_ID</key>
	<string>550076269173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alsyahd</string>
	<key>PROJECT_ID</key>
	<string>al-syahd-chatapp</string>
	<key>STORAGE_BUCKET</key>
	<string>al-syahd-chatapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550076269173:ios:7cc59d6f13c71a1b412e3c</string>
	<key>DATABASE_URL</key>
	<string>https://al-syahd-chatapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>